body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vb;
  background: rgb(181, 169, 169);
  font-family: 'Poppins', sans-serif;
  font-family: 'Noto Sans Thai', sans-serif;
}


.btn {
  padding: 8px 20px;
  border-radius: 0;
  overflow: hidden;
  
}
.btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, var(--danger-color), transparent);
  transform: translateX(-100%);
  transition: 0.6s;
}
.btn:hover {
  background: linear-gradient(#fa7f7f, #b64444);
}
.btn:hover::before {
  
  transform: translateX(100%) 
}

.form-input-material {
  
  --input-default-border-color: hsl(0, 34%, 31%);
  --input-border-bottom-color: hsl(0, 60%, 58%);
}
.form-input-material input {
  width: 230px;
  color: #813309;
}



.login-form {
  align-items: center;
  height: 450px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 90px 120px;
  color: #b52323;
  background: rgba(249, 243, 243, 0.8);
  border-radius: 7px;
  box-shadow: 0 0.1px 1px rgba(163, 42, 68, 0.542), 0px 1px 3px rgba(92, 28, 44, 0.496), 0 2.1px 1px rgba(118, 2, 35, 0.404), 0 4.2px 4.1px rgba(143, 61, 7, 0.201), 0 1px 15px rgba(198, 9, 31, 0.383);
}
.login-form h1 {
  margin: 50px 0px 20px 0;
}
.login-form .form-input-material {
  margin: 12px 0px;
}
.login-form .btn {
  border-radius: 3px;
  background: #b20707bb;
  width: 100%;
  padding-bottom: 27px;
  margin: 25px 0 50px 0;
}
