body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vb;
  background: rgb(255, 255, 255);
  font-family: 'Sen', sans-serif; 
}

.btn {
  padding: 8px 20px;
  border-radius: 0;
  overflow: hidden;
  
}
.btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, var(--primary-color), transparent);
  transform: translateX(-100%);
  transition: 0.6s;
}
.btn:hover {
  background: linear-gradient(#7C78D7, #07BCE5);
}
.btn:hover::before {
  
  transform: translateX(100%) 
}

.form-input-material {
  --input-default-border-color: hsl(217, 79%, 63%);
  --input-border-bottom-color: hsl(217, 79%, 63%);
}
.form-input-material input {
  color: #07BCE5;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 100px 80px;
  color: #5C8BDB;
  background: rgba(249, 243, 243, 0.8);
  border-radius: 10px;
  box-shadow: 0 0.4px 4px rgb(99, 203, 237), 0px 1px 1px rgba(99, 202, 237, 0.521), 0 2.1px 3px rgba(66, 226, 247, 0.477), 0 4.4px 4.4px rgba(118, 177, 249, 0.725), 0 12px 12px rgb(99, 203, 237);
}
.login-form h1 {
  margin: 0 0 45px 0;
}
.login-form .form-input-material {
  margin: 12px 0;
}
.login-form .btn {
  width: 100%;
  margin: 15px 0 50px 0;
}