<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../static/css/admin.css">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
        <div class="sidebar">
                <div class="sidebar-brand">
                        <div class="brand-flex">
                                <img src="" width="30px" alt="">

                                <div class="brand-icons">
                                        <span class="las la-bell"></span>
                                        <span class="las la-user-circle"></span>
                                </div>
                        </div>
                </div>

                <div class="sidebar-main">
                        <div class="sidebar-user">
                                <img src="1.jpg" alt="">
                                <div>
                                        <h3> Name </h3>
                                        <span>email</span>
                                </div>
                        </div>

                        <div class="sidebar-menu">
                                <div class="menu-head">
                                        <span> Dasbord</span>
                                 </div>
                                 <ul>
                                        <li>
                                                <a href="">
                                                <span class="las la-users"></span>
                                                test
                                                </a>
                                        </li>
                                        <li>
                                                <a href="">
                                                <span class="las la-users"></span>
                                                test
                                                 </a>
                                        </li>
                                        <li>
                                                <a href="">
                                                <span class="las la-users"></span>
                                                test
                                                </a>
                                        </li>
                                 </ul>

                                 <div class="menu-head">
                                        <span> Dasbord 2 </span>
                                 </div>
                                 <ul>
                                        <li>
                                                <a href="">
                                                <span class="las la-users"></span>
                                                test
                                                </a>
                                        </li>
                                        <li>
                                                <a href="">
                                                <span class="las la-users"></span>
                                                test
                                                </a>
                                        </li>
                                        <li>
                                                <a href="">
                                                <span class="las la-users"></span>
                                                test
                                                </a>
                                        </li>
                                 </ul>
                        </div>
                </div>

        </div>

        <div class="main-content">
                <header>
                        <div class="menu-toggle">
                                <label for="">
                                        <span class="las la-bars"></span>
                                </label>
                         </div>

                        <div class="header-icons">
                                <span class="las la-search"></span>
                           
                        </div>
                </header>

                <main>
                        <div class="page-header">
                                <div>
                                        <h1>รายการ</h1>
                                        <small>รายละเอียด</small>
                                </div>

                                <div class="header-actions">
                                        <button>
                                                <span class="las la-add"></span>
                                                add
                                        </button>
                                       
                                </div>
                        </div>
                        

                        </div>

                        
                </main>

        </div>
        
</body>
</html>