{%extends "layout.html"%} {%block content%}
<main>
  <div class="page-header">
   
    <ol class="barbody">
      <li><a href=""><i class="fa-solid fa-house-chimney"></i> หน้าแรก </a></li>
      <li style="margin: 0px 8px 0px 8px; color: white;" > / </li>
      <!-- <li><a href="" ><i class="fa-solid fa-comment-dots"></i> จัดการข้อความ </a></li> -->
    </ol>
    
    
 <!-- แจ้งเตือนข้อความ -->
  

</div>
  <div class="cards">
    <div class="card-single">
      <div class="card-flex">
        <div class="card-info">
          <div class="card-head">
            <span>ข้อความทั้งหมด</span>
          </div>
          <h2>**</h2>
          <small></small>
        </div>
        <div class="card-chart sucess">
          <span><i class="fa-solid fa-message"></i></span>
        </div>
      </div>
    </div>

    <div class="card-single">
      <div class="card-flex">
        <div class="card-info">
          <div class="card-head">
            <span>จำนวนข้อความทั้งหมด</span>
            <small></small>
          </div>

          <h2>**</h2>
          <small>test</small>
        </div>
        <div class="card-chart danger">
          <span><i class="fa-solid fa-user"></i></span>
          
        </div>
      </div>
    </div>

    <div class="card-single">
      <div class="card-flex">
        <div class="card-info">
          <div class="card-head">
            <span>wansukkri</span>
            <small> </small>
          </div>

          <h2>**</h2>
          <small>.</small>
        </div>
        <div class="card-chart yello">
          <span class="las la-chart-line"></span>
        </div>
      </div>
    </div>
  </div>
</main>


{%endblock%}