<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testex</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    
<div class="container-full">
<h1 class="text-center  text-black">รายการ คำพูด</h1>
        <div class="row">
            <div class="col-sm-2"></div>

            
            <div class="col-sm-8">
<h2 > รายการ <button class="btn btn-outline-primary float-right" data-toggle="modal" data-target="#myModal">เพิ่มคำพูด</button></h2>

{%with messages = get_flashed_messages()%}
{%if messages%}
{% for message in messages %}
<div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
</div>
{%endfor%}
{%endif%}
{%endwith%}




    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
   
                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">เพิ่มข้อมูลบทพูด</h5>    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  

                <div class="modal-body">
                    
                    <form action="{{ url_for('insert')}}" method="POST">
                        <div class="form-group">
                          <label>ลำดับ</label>
                          <input type="number" name="name" class="form-control" id="exampleFormControlInput1" placeholder="กรอกลำดับ">
                        </div>

                        <div class="form-group">
                            <label>บทพูด1</label>
                            <input type="text" name="email" class="form-control" id="exampleFormControlInput1" placeholder="กรอกบทพูด">
                        </div>

                        <div class="form-group">
                            <label>บทพูด2</label>
                            <input name="phone" type="text" class="form-control" id="exampleFormControlInput1" placeholder="กรอกบทพูด">
                          </div>

                          <button type="submit" class="btn btn-primary mb-2">บันทึก</button>
                     
                      </form>


                </div>
            </div>
        </div>

    </div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">บทพูด1</th>
            <th scope="col">บทพูด2</th>
            <th scope="col">แก้ใข</th>
       
        </tr>
    </thead>
    <tbody>
        {% for row in students %}
        <tr>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        
        <td>
            <a href="/update/{{row.0}}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modaledit{{row.0}}">แก้ใข</a>
            <a href="/delete/{{ row.0 }}" onclick="return confirm('แน่ใจหรอที่จะลบ ?')" class="btn btn-danger btn-sm">ลบ</a>

        </td>
    </tr>


       
        <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
       
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" style="align-content: center;">แก้ใข ข้อมูล</h5>    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      
    
                    <div class="modal-body">
                        
                        <form action="{{ url_for('update')}}" method="POST">
                            <input type="hidden" name="id" value="{{row.0}}">
                            <div class="form-group">
                              <label>ลำดับ</label>
                              <input value="{{row.1}}" type="number" name="name" class="form-control" id="exampleFormControlInput1" placeholder="กรอกลำดับ">
                            </div>
    
                            <div class="form-group">
                                <label>บทพูด1</label>
                                <input value="{{row.2}}" type="text" name="email" class="form-control" id="exampleFormControlInput1" placeholder="กรอกบทพูด">
                            </div>
    
                            <div class="form-group">
                                <label> บทพูด2</label>
                                <input value="{{row.3}}" name="phone" type="text" class="form-control" id="exampleFormControlInput1" placeholder="กรอกบทพูด">
                              </div>
    
                              <button type="submit" class="btn btn-success mb-2">บันทึก</button>
                         
                          </form>
    
    
                    </div>
                </div>
            </div>
    
        </div>
    
    
       


        {% endfor %}
    </tbody>

</table>
            </div>
            

            <div class="col-sm-2"></div>

        </div>
    </div>

 <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>
</html>