
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8" />
        <title>LOGIN</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@200;300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alphardex/aqua.css@master/dist/aqua.min.css" />
        <link rel="stylesheet" href="../static/css/login.css" />
</head>

<body>
        
        <form action="/login" method="POST"  class="login-form">
                <img src="../static/css/logo-ptnicec.png" alt="" width="120px">
                <h1>LOGIN</h1>
                <div class="form-input-material">
                        <input type="text" name="name"  id="username" placeholder=" " autocomplete="off"
                                class="form-control-material" required />
                        <label for="username">Email</label>
                </div>
                <div class="form-input-material">
                        <input type="password" name="password" id="password" placeholder=" " autocomplete="off"
                                class="form-control-material" required />
                        <label for="password">Password</label>
                </div>
                <button type="submit" class="btn btn- btn-ghost">LOGIN</button>
                
        </form>
</body>

</html>